/BadEntryException.class
/ImportFileException.class
/NoSuchDisciplineIdException.class
/NoSuchPersonIdException.class
/NoSuchProjectIdException.class
/NumberOfDelegatesExceed.class
/DuplicateIdProjectException.class
